<div>
	<div class="container">
	<h2>Cash Drawer Assignments</h2>

	Square Location: <input list='sqrLctnsList' 
							name='sqrLctnsList'
							class=""
							ng-model='vm.selected.location'>
	<datalist name="sqrLctnsList" id="sqrLctnsList">
		<option ng-repeat="location in vm.sqrLocations track by $index"
				style='font-size: 12pt'
				ng-click=''>
				{{location.name}}
		</option>

	</datalist>
	<br>
	<!--Start Time: <input type="date" ng-model="vm.searchlist.times.start"> 
	End Time: <input type="date" ng-model='vm.searchlist.times.end'> <br>-->

	<table class='table'>
		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Name</th>
			<th>Employees</th>
			<th>Expected In Drawer</th>
			<th>CME</th>
		</tr>
		<tr ng-repeat='drawer in vm.cashDrawerList track by $index'>
			<td></td>
			<td></td>
			<td>{{drawer.test}}</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>

	{{vm.sqrEmployees}}
</div>