<div>
	<div class="container">
		
		<!-- Page Header -->
		<h1>Transaction Blocks Assignments</h1>
		
		<!--List the transaction Day-->
		<h4>{{vm.selectedDate | date: "fullDate"}}</h4>
		
		<!--Date Buttons-->
		<date-selector 	selected-date="vm.selectedDate" 
						update-date='vm.dateUpdate(newDate)'>
		</date-selector>

		<!--Save Button-->
		<button class="btn btn-success">Save</button>

		<!-- Sales Days Tally Table-->
		<tx-block-sales-days-table 	cmes='vm.cmes'>
		</tx-block-sales-days-table>
		
		<!-- The Transactions Block Table-->
		<tx-block-table 	tx-blocks='vm.txBlocks'
							cmes='vm.cmes'>
		</tx-block-table>

	</div>
</div>